body{
    background: rgb(0, 17, 167);
}

.wrap{
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.menu-container{

    top: 0;
    left: 0;
    /* To the top left edge of the screen */
    position: absolute;
    width: 100%;
    background-color: chocolate;
}

.menu {
    font: bold 12px/16px sans-serif;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    color:cornsilk;
    display: inline-block;
    margin-right: -2px;
    position: relative;
    padding: 12 px 40 px;
    border: 1 px solid rgb(77, 74, 74);
    border-radius: 1.5px;
    background-color: darkgreen;
    cursor: pointer;
}

.menu li:hover {
  background-color: forestgreen;
  color: black;
}

.menu li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.submenu {
    padding: 0;
    left: 0;
    position: absolute;
    top: absolute;
    width: 45px;
    opacity: 0;
    /*While not being hovered, drop down-menu hides
     This also avoids a block-level bug */
    visibility: hidden;
}

.submenu li{
    background-color: darkgreen;
    display: block;
    color: cornsilk;
}

.submenu li:hover {

    color: cornsilk;
    background-color: limegreen;
    visibility: visibile;
}
